<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645700229771-mum9dmsc0hivp4hmc8bueuravnsnv9hq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645700229771-mum9dmsc0hivp4hmc8bueuravnsnv9hq</string>
	<key>API_KEY</key>
	<string>AIzaSyDUwvbCdfYzMceaP_ixBAJCAfcdBX8bhLw</string>
	<key>GCM_SENDER_ID</key>
	<string>645700229771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Discord</string>
	<key>PROJECT_ID</key>
	<string>ashudis</string>
	<key>STORAGE_BUCKET</key>
	<string>ashudis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645700229771:ios:6fe2e65e7ae58fafb1528e</string>
</dict>
</plist>